export(fieldRotate,fieldCrop,fieldShape,fieldPolygon,fieldObject,
       fieldIndex,fieldMask,fieldMap,fieldInfo,fieldPlot,fieldCount,fieldArea,fieldDraw)
importFrom("sp", "Polygons","Polygon","SpatialPolygonsDataFrame","SpatialPolygons","spsample",
           "SpatialPointsDataFrame","over", "proj4string")
importFrom("raster", "stack", "projection","plotRGB","res","projectRaster","crs","extent",
           "atan2","crop","rasterToPolygons","mask","extract","clump","drawLine","drawPoly","xyFromCell")
importFrom("maptools", "elide")
importFrom("parallel", "makeCluster", "detectCores")
importFrom("foreach", "foreach", "%dopar%")
importFrom("doParallel", "registerDoParallel")
importFrom("graphics", "abline", "axis", "lines", "par", "plot","points","locator","legend")
importFrom("utils", "read.csv")
importFrom("grDevices", "rgb", "col2rgb")
importFrom("plyr", "join")
importFrom("EBImage","watershed","distmap")
